.container
    .tutorial
      ul
        li Home
        li Blog
        li Services
          i.fa.fa-angle-down
          ul
            li Ruby Programming
            li Node Programming
            li PHP Programming
        li Tutorials
          i.fa.fa-angle-down
          ul
            li CSS
              span 1 Available
            li HTML
              span 2 Available
            li Jade
              span 3 Available
            li Sass
              span 4 Available
            li Javascript
              span 5 Available
        li Contact
      .slider
      .information
        h1 Pure CSS Dropdown Menu
        h3 Por Mahrach Mahrch, Mohammed
        p Simple demostración generada con Sass para las hojas de estilo y con la ayuda de Jade para HTML.

<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
